.SingleItem {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.SingleItem-image {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 575px) {
  .SingleItem-image-div {
    margin-bottom: 25px;
  }
  .SingleItem-image {
    width: 80%;
    height: 80%;
  }
}