.Home-top-banner {
  position: relative;
  max-width: 1920px;
  height: 600px;
  background-image: url("../../assets/bg-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* tb-content = top-banner-content */
.Home-tb-content {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 600px;
  padding: 50px;
  background-color: rgba(0,0,0,0.8);
}

.Home-tb-content > h1 {
  font-size: 60px;
  color: #ffa500;
}

.Home-tb-content > p {
  font-size: 20px;
  color: rgb(200,200,200);
  text-align: justify;
}

.Home-tb-content > button {
  display: block;
  width: 100%;
  background-color: #ffa500;
  border: 1px solid #ffa500;
}

.Home-tb-content > button:hover {
  background-color: #ff8c00;
}

/* smic = social media icon container */
.Home-smic {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 320px;
  background-color: rgba(255,255,255,0.5);
}

/* smi = social media icon */
.Home-smi {
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
}

.Home-smi:hover {
  background-color: rgba(255,255,255,0.2);
}

/* wcs = why choose us */
.Home-wcs {
  width: 100%;
  height: 650px;
  background-image: url("../../assets/bg-image-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Home-wcs-header {
  background-color: #ff8c00;
  color: #fff;
}

/* fi1 = food image 1 */
.Home-wcs-fi1 {
  width: 75px;
  height: 75px;
}

.Home-wcs-main {
  max-width: 1280px;
  height: calc(600px - 75px);
}

/* ci1 = chef image 1 */
.Home-ci1-div {
  position: relative;
  width: 350px;
  height: calc(600px - 75px);
}

.Home-ci1 {
  position: absolute;
  top: 50%;
  left: calc(50% + 12px);
  transform: translate(-50%, -50%);
  width: 275px;
  height: 350px;
  border-radius: 100px 0;
  z-index: 1;
}

.Home-rounded-shape {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 12px);
  transform: translate(-50%, -50%);
  width: 275px;
  height: 350px;
  border: 2px solid #ffa500;
  border-radius: 100px 0;
}

.Home-wcs-content {
  position: relative;
  max-width: 550px;
}

.Home-check-icon {
  color: #ffa500;
}

.Home-wcs-content p {
  text-align: justify;
}

.Home-menu-content {
  background-image: url("../../assets/bg-image-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Home-menu-content h1 {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  border-bottom: 5px solid #ff8c00;
}

/* mc = menu category */
.Home-mc {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 4px 8px 0 rgba(255,165,0,0.2), 0 6px 20px 0 rgba(255,165,0,0.19);
  cursor: pointer;
}

.Home-mc > h4 {
  color: #ff8c00;
}

.Home-mc:hover {
  background-color: rgba(64,64,64,0.9);
}

/* mcid = menu category icon div */
.Home-mcid {
  width: 150px;
  height: 150px;
  line-height: 120px;
  vertical-align: middle;
  background-color: rgba(24,24,24,0.8);
}

/* tc = testimonial card */
.Home-tc {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Home-tc > img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

/* Style About Us Section */
/* alc = about left column */
.Home-alc {
  height: 550px;
  background-image: url("../../assets/bg-image-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* atllc = about top layer of left column */
.Home-atllc {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,128,128,0.5);
}

/* ab = about button */
.Home-ab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  padding: 10px 25px;
  background-color: rgba(0,128,128,0.5);
  color: white;
  border: 2px solid white;
}

/* arc = about right column */
.Home-arc {
  height: 550px;
}

/* atlrc = about top layer right column */
.Home-atlrc {
  background-color: rgb(0,128,128);
  color: #fff;
}

.Home-atlrc > h5 {
  width: fit-content;
  border-bottom: 2px solid #ffa500;
}

/* acs = about circle shape */
.Home-acs {
  width: 120px;
  height: 120px;
}

@media only screen and (max-width: 1218px) {
  .Home-alc, .Home-arc {
    height: 650px;
  }
}

@media only screen and (max-width: 991px) {
  .Home-tb-content {
    left: calc(50% - 40px);
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 50px 25px;
  }
  .Home-tb-content > h1 {
    font-size: 36px;
  }
  .Home-tb-content > p {
    font-size: 18px;
  }
  .Home-wcs {
    height: 1000px;
  }
  .Home-ci1-div {
    top: 170px;
  }
  .Home-wcs-content {
    top: 300px;
  }
  .Home-arc {
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .Home-tb-content {
    width: 60%;
  }
  .Home-tb-content > h1 {
    font-size: 24px;
  }
  .Home-tb-content > p {
    font-size: 12px;
  }
  .Home-wcs {
    height: 1100px
  }
  .Home-ci1-div {
    top: 220px
  }
  .Home-wcs-content {
    top: 400px;
  }
}

@media only screen and (max-width: 400px) {

  .Home-tb-content > h1 {
    font-size: 20px;
  }
  .Home-tb-content > p, .Home-tb-content > button {
    font-size: 10px;
  }
  .Home-wcs-content p {
    font-size: 12px;
  }
}